/* BASE STYLES */

/* FONTS */

/* CenturyGothic */

/* COLORS */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', 'Tahoma', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  overflow-x: hidden;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 144rem;
  height: 100%;
  margin: auto;
  padding: 0 1.5rem;
}

/* Box-sizing-model */

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Responsive images */

img {
  max-width: 100%;
  height: auto;
}

/* Cursor change on hover on Buttons */

input[type="submit"],
button {
  cursor: pointer;
}

/* Allow only vertical resizing of textareas */

textarea {
  resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* TYPOGRAPHY */

.section__title,
.main-title {
  font-family: "GothamProBold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-size: 4.8rem;
  line-height: 5.8rem;
  color: #333333;
}

.main-title {
  text-align: center;
  font-size: 3.2rem;
  line-height: 3.8rem;
}

.main-title--blue {
  color: #7F91BE;
}

.small__title {
  font-family: "GothamProBold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #4F4F4F;
}

.small__title--blue {
  color: #7F91BE;
}

.small__title--header-bottom {
  margin: .51rem 0 1.7rem 0;
}

.text,
.header-bottom__subtitle {
  font-family: "GothamProRegular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #4F4F4F;
}

.phone__link {
  font-family: "GothamProBold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #333333;
  transition: all .5s ease-out;
}

.phone__link:hover {
  background: linear-gradient(90deg, #8E9FDF 0%, #3666AB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.phone__link:active {
  background: #3561A4;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* FONTS */

/* FONTS */

@font-face {
  font-family: 'GothamProLight';
  src: url("./../fonts/GothamProLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GothamProRegular';
  src: url("./../fonts/GothamProRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GothamProBold';
  src: url("./../fonts/GothamProBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* BUTTONS */

.btn {
  padding: 1.8rem 3.6rem;
  font-family: "GothamProRegular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #fff;
  background: linear-gradient(90deg, #8E9FDF 0%, #3666AB 100%);
  border: none;
  outline: none;
  border-radius: .5rem;
  transition: all .5s ease-out;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(90deg, #5E7BE1 0%, #3666AB 100%);
  box-shadow: 0 10rem 8rem rgba(46, 87, 181, 0.07), 0 4.17776rem 3.34221rem rgba(46, 87, 181, 0.0503198), 0 2.23363rem 1.7869rem rgba(46, 87, 181, 0.0417275), 0 1.25216rem 1.00172rem rgba(46, 87, 181, 0.035), 0 0.66501rem 0.53201rem rgba(46, 87, 181, 0.0282725), 0 0.27673rem 0.22138rem rgba(46, 87, 181, 0.0196802);
}

.btn:active {
  background: #3561A4;
}

.btn--call {
  width: calc(100% / 12 * 2 + 3rem);
  margin: 0 1.5rem;
}

.btn--brief {
  transform: translateY(1rem);
}

/* INPUTS */

input {
  font-family: "GothamProRegular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-size: 1.8rem;
  line-height: 2.9rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: #E0E0E0;
  color: #BDBDBD;
}

input:hover {
  border: #BDBDBD;
}

input:focus {
  border: #4F4F4F;
  color: #4F4F4F;
}

input[type="checkbox"] {
  background: #BDBDBD;
}

input[type="checkbox"]:checked {
  background: radial-gradient(50% 284.34% at 28.33% 50%, #9DBCEA 0%, #8DAEDE 100%);
}

input[type="checkbox"]:hover {
  background: #BDBDBD;
}

/* MIXINS & VARIABLES */

/* FONTS */

/* CenturyGothic */

/* COLORS */

/* CSS-LIBRARIES */

/* PAGES */

/* SECTIONS */

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 115.7rem;
  overflow: hidden;
  background: url(../img/header-bg@1x.jpg) center/cover, no-repeat;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.98);
  z-index: 2;
}

.header__inner {
  position: relative;
  z-index: 100;
  min-height: 100vh;
}

.design {
  width: 100%;
  min-height: 100vh;
}

/* BLOCKS */

.header-top {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  margin: 0 -1.5rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc(100% / 12 * 2 + 3rem);
  margin: 0 1.5rem;
  padding-right: 1.8rem;
}

.logo__link {
  position: relative;
  font-family: "GothamProBold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-size: 1.8rem;
  line-height: 1.7rem;
  color: #333333;
}

.logo__link::before {
  position: absolute;
  content: "P";
  width: 4.5rem;
  height: 4.5rem;
  top: 50%;
  left: -7.1rem;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "GothamProBold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-size: 2.4rem;
  line-height: 2.3rem;
  color: #F2F2F2;
  background: #7F91BE;
  border-radius: .5rem;
}

.logo--blue {
  font-family: "GothamProBold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-size: 1.8rem;
  line-height: 1.7rem;
  color: #7F91BE;
}

.logo--small {
  display: block;
  font-family: "GothamProLight";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-size: 1.4rem;
  line-height: 1.3rem;
  color: #828282;
}

.nav {
  width: calc(100% / 12 * 6 + 3rem);
  margin: 0 1.5rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-list .nav__link {
  font-family: "GothamProRegular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #4F4F4F;
}

.phone {
  width: calc(100% / 12 * 2 + 3rem);
  margin: 0 1.5rem;
  text-align: center;
}

.ball,
.ball--first {
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  background: radial-gradient(72.29% 72.29% at 21.69% 27.71%, #FFFFFF 0%, rgba(255, 255, 255, 0) 54.26%), radial-gradient(71.08% 71.08% at 32.53% 18.07%, #FBFFFF 0%, #E0E6EA 69.62%, #C8D0D5 100%);
  box-shadow: 0 10rem 13rem rgba(172, 172, 172, 0.07), 0 4.17776rem 5.43109rem rgba(172, 172, 172, 0.0503198), 0 2.23363rem 2.90372rem rgba(172, 172, 172, 0.0417275), 0 1.25216rem 1.6278rem rgba(172, 172, 172, 0.035), 0 0.66501rem 0.86451rem rgba(172, 172, 172, 0.0282725), 0 0.27673rem 0.35974rem rgba(172, 172, 172, 0.0196802);
}

.ball--first {
  right: -8.4rem;
  top: 10.9rem;
  width: 21.7rem;
  height: 21.7rem;
}

.ball--third {
  right: 16rem;
  bottom: -10.4rem;
  width: 19.1rem;
  height: 19.1rem;
  background: radial-gradient(72.29% 72.29% at 21.69% 27.71%, #FFFFFF 0%, rgba(255, 255, 255, 0) 54.26%), radial-gradient(71.08% 71.08% at 32.53% 18.07%, #FBFFFF 0%, #E0E6EA 69.62%, #C8D0D5 100%);
  box-shadow: 0 10rem 13rem rgba(172, 172, 172, 0.07), 0 4.17776rem 5.43109rem rgba(172, 172, 172, 0.0503198), 0 2.23363rem 2.90372rem rgba(172, 172, 172, 0.0417275), 0 1.25216rem 1.6278rem rgba(172, 172, 172, 0.035), 0 0.66501rem 0.86451rem rgba(172, 172, 172, 0.0282725), 0 0.27673rem 0.35974rem rgba(172, 172, 172, 0.0196802);
}

.header-center {
  position: relative;
  z-index: 1;
}

.header-center-inner {
  display: flex;
  margin: 0 -1.5rem;
}

.header-center__left {
  width: calc(100% / 12 * 4 + 3rem);
  margin: 0 1.5rem;
}

.header-center__right {
  width: calc(100% / 12 * 8 + 3rem);
  margin: 0 1.5rem;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}

.advantages-list .advantages__item {
  display: flex;
  align-items: center;
}

.advantages-list .advantages__item:not(:last-child) {
  margin-bottom: 2.4rem;
}

.advantages-list .advantages__item .item__icon {
  position: relative;
  width: 15rem;
  height: 10rem;
  margin-right: 1.7rem;
  background: radial-gradient(68.53% 137.22% at 52.86% 31.68%, #3968AC 0%, #8DAEDE 100%);
  border-radius: 1rem;
}

.advantages-list .advantages__item .item__icon .smartphone,
.advantages-list .advantages__item .item__icon .gear,
.advantages-list .advantages__item .item__icon .clock {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.advantages-list .advantages__item .item__icon .smartphone {
  top: 27%;
  width: 10.7rem;
  height: 14.6rem;
}

.advantages-list .advantages__item .item__icon .gear {
  top: 55%;
  width: 15rem;
  height: 14.5rem;
}

.advantages-list .advantages__item .item__icon .clock {
  top: 42%;
  width: 14.5rem;
  height: 14.4rem;
}

.advantages-list .advantages__item .item__text,
.advantages-list .advantages__item .item__text--bold {
  max-width: 28rem;
  font-family: "GothamProRegular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-size: 1.8rem;
  line-height: 2.9rem;
  color: #4F4F4F;
}

.advantages-list .advantages__item .item__text--bold {
  font-family: "GothamProBold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.header-bottom {
  position: relative;
  z-index: 1;
  transform: translateY(-4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 3.4rem 1rem 0 1rem;
  max-width: 70.7rem;
  min-height: 19rem;
  background: #F2F2F2;
  border-radius: 1rem;
}

.header-bottom::after {
  position: absolute;
  content: "";
  right: -7.3rem;
  top: -12.1rem;
  width: 19.3rem;
  height: 19.3rem;
  border-radius: 50%;
  background: radial-gradient(72.29% 72.29% at 21.69% 27.71%, #FFFFFF 0%, rgba(255, 255, 255, 0) 54.26%), radial-gradient(71.08% 71.08% at 32.53% 18.07%, #FBFFFF 0%, #E0E6EA 69.62%, #C8D0D5 100%);
  box-shadow: 0 10rem 13rem rgba(172, 172, 172, 0.07), 0 4.17776rem 5.43109rem rgba(172, 172, 172, 0.0503198), 0 2.23363rem 2.90372rem rgba(172, 172, 172, 0.0417275), 0 1.25216rem 1.6278rem rgba(172, 172, 172, 0.035), 0 0.66501rem 0.86451rem rgba(172, 172, 172, 0.0282725), 0 0.27673rem 0.35974rem rgba(172, 172, 172, 0.0196802);
}

.header-bottom__subtitle {
  color: #828282;
}

@media (min-width: 41.4rem) {
  .section__title,
  .main-title {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }

  .main-title {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }

  .small__title {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .text,
  .header-bottom__subtitle {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

@media (min-width: 76.8rem) {
  .main-title {
    width: 100%;
    margin-bottom: .7rem;
    font-size: 4.8rem;
    line-height: 5.8rem;
  }

  .header__content {
    padding: 4.9rem 0 7.1rem 0;
  }
}

@media (min-width: 1920px) {
  .section__title,
  .main-title {
    font-size: 4.8rem;
    line-height: 5.8rem;
  }

  .main-title {
    width: calc(100% / 12 * 8 + 3rem);
    margin: 0 auto 5.4rem auto;
    padding: 0 8rem;
    font-size: 6.4rem;
    line-height: 7.7rem;
  }

  .small__title {
    font-size: 2.4rem;
    line-height: 3.4rem;
  }

  .text,
  .header-bottom__subtitle {
    font-size: 1.8rem;
    line-height: 2.9rem;
  }

  .header__content {
    padding: 8.5rem 0 9.3rem 0;
  }

  .header-bottom__subtitle {
    margin-bottom: 1.4rem;
    line-height: 2.5rem;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header {
    background: url(../img/header-bg@2x.jpg) center/cover, no-repeat;
  }
}